* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #043873;
}

header {
  padding: 16px 0;
}

.container {
  max-width: 1480px;
  margin: 0 auto;
}

.logo {
  font-size: 28px;
  font-weight: bold;
  color: #ffffff;
  text-decoration: none;
  display: flex;
  gap: 10px;
  align-items: center;
}

.links {
  display: flex;
  gap: 70px;
  flex-wrap: wrap;
}

.links a {
  color: white;
  text-decoration: none;
  font-size: 18px;
  font-weight: 500;
}

.yellow-btn {
  width: 126px;
  height: 60px;
  background-color: #ffe492;
  border: none;
  border-radius: 8px;
  font-size: 18px;
}
.blue-btn {
  width: 227px;
  height: 60px;
  background-color: #4f9cf9;
  border-radius: 8px;
  border: 0;
  font-size: 18px;
}

.header__nav {
  display: flex;
  gap: 10px 96px;
  align-items: center;
  flex-wrap: wrap;
}

header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.hero-section {
  height: 829px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.btns {
  display: flex;
  gap: 24px;
}

.text-block h2 {
  font-size: 64px;
  color: white;
  width: 100%;
}

.texts {
  max-width: 656px;
}

p {
  color: white;
  font-size: 18px;
  width: 100%;
  margin: 24px 0 64px;
}

.img-block {
  height: 529px;
  width: 824px;
  background-color: skyblue;
}

.hero-section .container {
  display: flex;
  align-items: center;
}

.project-managment,
.work-together {
  height: 760px;
  background-color: white;
  display: flex;
  align-items: center;
}

.project-managment .container,
.work-together .container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 60px;
}

.pM__text-block,
.wT__text-block {
  max-width: 672px;
  position: relative;
}

.pM__text-block h2,
.work-together h2, .choose-plan h2 {
  color: #212529;
  font-size: 72px;
  z-index: 2;
  position: relative;
}
.pM__text-block p,
.work-together p, .choose-plan p {
  color: #212529;
  font-size: 18px;
}

.heading {
  position: relative;
  width: max-content;
}

.element {
  position: absolute;
  bottom: -15px;
  z-index: 1;
}

.project-managment .img-block {
  width: 748px;
}
.choose-plan {
  background-color: white;
  height: 1272px;
}

.free , .organization {
  display: flex;
  flex-direction: column;
  gap: 25px;
  width: 472px;
  height: 634px;
  border-radius: 10px;
  border: 1px solid #ffe492;
  justify-content: center;
  align-items: flex-start;
  padding: 40px;
}

.price {
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.plans ul {
  display: flex;
  flex-direction: column;
  gap: 28px;
  list-style: none;
}

.free button , .organization button {
  height: 51px;
  width: 166px;
  background-color: transparent;
  border: 1px solid #ffe492;
  border-radius: 8px;
}

.price span:nth-child(1){
    font-size: 24px;
    font-weight: 600;
}

.price span:nth-child(2){
    font-size: 36px;
    font-weight: 600;
}

.price span:nth-child(3){
    font-size: 18px;
    font-weight: 500;
}

.plans ul li{
    font-size: 16px;
}

.personal{
    width: 472px;
    height: 762px;
    background-color: #043873;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 0 44px;
    color: white;
    gap: 25px;
    border-radius: 10px;
}

.personal span:nth-child(2){
    color: #ffe492;
}

.personal button{
    height: 51px;
  width: 166px;
  border-radius: 8px;
  background-color: #4f9cf9;
  color: white;
  border: 0;
}

.subscriptions{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 32px;
}

.choose-plan h2 , .choose-plan p{
    text-align: center;
}

.choose-plan .heading{
    margin: 0 auto;
}

.choose-plan{
    display: flex;
    justify-content: center;
    align-items: center;
}